@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply bg-black text-gray-300 font-poppins overflow-x-hidden transition-colors duration-300;
  }
  
  html.light body {
    @apply bg-white text-gray-800;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
  }
  
  .bg-gradient-animated {
    background: linear-gradient(-45deg, #7f00ff, #ff006e, #8338ec, #3a86ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
}

